body {
  background: url(./images/background-desktop.png);
  background-position: center center;
  margin: 0;
}

.background-images {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.line-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./images/pattern-lines.svg);
  background-repeat: no-repeat;
}

.bottom-left-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 650px;
  height: 310px;
  background: url(./images/pattern-squiggly-line-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.top-right-image {
  position: absolute;
  top: 40px;
  right: 0;
  width: 300px;
  height: 300px;
  background: url(./images/pattern-squiggly-line-top.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.section-container {
  z-index: 1000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 32px;
  line-height: 0;
  font-family: "Inconsolata", monospace;
}

.title {
  color: rgb(225, 224, 224);
  font-family: "Inconsolata", monospace;
}

h2 {
  font-size: 18px;
  color: rgb(225, 224, 224);
}

.drop-zone {
  border: 2px dashed rgb(225, 224, 224);
  border-radius: 8px;
  font-family: "Inconsolata", monospace;
  width: 350px;
  height: 330px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: hsla(252, 6%, 83%, 0.1);
}

ul {
  list-style-type: none;
}

.preview-image {
  display: flex;
  align-items: center;
  width: 100%;
  object-fit: cover;
}

.dropzone-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

input {
  margin: 10px 0 0 0;
  width: 100%;
  padding: 9px 0 9px 9px;
  border-radius: 8px;
  border: 1px solid hsla(252, 6%, 83%, 0.541);
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 18px;
}

label {
  padding-top: 10px;
  color: white;
}

span {
  color: rgb(233, 59, 59);
  padding: 5px 0 10px 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inconsolata", monospace;
}

.form-container-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

.generate-button {
  width: 100%;
  background: rgb(212, 129, 143);
  border: none;
  font-family: "Inconsolata", monospace;
  color: rgb(20, 20, 102);
  font-weight: 700;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  margin-top: 10px;
}

h1 {
  color: white;
}

.ticket-generated-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.ticket-container {
  width: 600px;
  height: 300px;
  /* display: flex;
  justify-content: center;   */
  margin-top: 20px;
}

.ticket {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* background-color: red; */
  background-image: url(./images/pattern-ticket.svg);
  background-position: cover;
  background-repeat: no-repeat;
  font-family: "Inconsolata", monospace;
  height: 240px;
}

.email-color {
  color: rgb(187, 66, 66);
}

p {
  font-size: 16px;
  line-height: none;
  color: white;
}

.date {
  padding-left: 45px;
}

.logo {
  background-image: url(./images/logo-full.svg);
  background-repeat: no-repeat;
  width: 300px;
  height: 30px;
}

.conf-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.your-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.email-and-icon {
  display: flex;
  align-items: center;
}

.github-icon {
  background-image: url(./images/icon-github.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.random-text {
  display: flex;
  align-items: center;
  transform: rotate(90deg);
  padding-right: 10px;
}

.your-details-container-with-avatar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar-display {
  width: 50px;
  height: 50px;
}
